export WOODPECKER_MAX_CONCURRENCY=10
export WOODPECKER_PAYLOAD_PATH="/path/to/payloads.json"
export WOODPECKER_OAUTH_CLIENT_ID="***"
export WOODPECKER_OAUTH_CLIENT_SECRET="***"
export WOODPECKER_OAUTH_SCOPES="users,repo"
export WOODPECKER_USE_AI_FORMATTER=true
export WOODPECKER_LLM_MODEL="gpt-5-nano"
export WOODPECKER_LLM_BASE_URL="https://api.openai.com/v1" # Your OpenAI API compatible AI provider.
export WOODPECKER_LLM_AUTH_TOKEN="sk-proj-****"
