name: Build
on:
  push:
    branches:
      - "main"
  pull_request:

env:
  go_version: '1.24.11'

jobs:
  go-build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ env.go_version }}

    - name: Build
      run: make build

    - name: Test
      run: make test

  build-docker:
    runs-on: ubuntu-latest
    needs: go-build-test

    strategy:
      matrix:
        image: [ "woodpecker-ai-verifier", "woodpecker-executor", "woodpecker-postman-collection" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/${{matrix.image}}
          tags: |
            type=ref,event=branch
            type=sha,prefix={{branch}}-,enable={{is_default_branch}}
            type=sha,format=long,prefix={{branch}}-,enable={{is_default_branch}}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: "build/Dockerfile.${{matrix.image}}"
          push: ${{ (github.event_name == 'push' && github.ref_name == 'main') && true || false }} # only pushed to the registry when merged to main
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
